<h2>Edit User</h2>

<%= render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user)) %>

<span><%= if @current_user do
			link "Back", to: "/tasklist"
		  else 
		  	link "Back", to: "/"
	  	  end%></span>

